*{
    padding: 0%;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.banner{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(180deg, orange     , rgb(246, 246, 122));
}
.navbar{
    display: flex;
    width: 90%;
    margin: auto;
    padding: 32px 0;
    align-items: center;
    justify-content: space-between;    
}
.logo{
    cursor: pointer;
    border-radius: 20%;
}
.navbar ul li{
list-style-type: none;
display: inline-block;
margin: 0 125px;
}
.navbar ul li a{
    text-decoration: none;
    color: rgb(247, 247, 247);
font-size:large;

}
.navbar ul li a:hover{
    color:rgb(0, 0, 0);
    transition: 0.5s;
}
.content{
    width: 100%;
    position: absolute;
    top: 40%;
    text-align: center;
}
.content h1{
    font-size: 55px;
}
.content h3{
    margin: 30px auto;
}
button{
    width: 400px;
    padding: 25px 0;
    border-radius: 35px;
    margin: 30px;
    text-align: center;
    color: orange;
    cursor: pointer;
font-weight: 500;
background-color:black ;
font-size: 20px;
}
button:hover{
    color:azure;
    transition: 0.7s;
}
.topnav input[type=text] {
    float:right;
    padding: 13px;
    border: none;
    margin-top: -522px;
    margin-right: 680px;
    font-size: 14px;
}
